<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
    <include file="$(find turtlebot_bringup)/launch/3dsensor.launch" />

    <node pkg="joy" type="joy_node" name="joy_node" />
    <node pkg="comp1" type="comp1.py" name="comp1" output="screen" />
    <node pkg="smach_viewer" type="smach_viewer.py" name="smach" />
</launch>